<!-- head.ejs -->
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/crowdfunding-mini-themed.css" />
  <!-- <link rel="stylesheet" href="/css/crowdfunding-mini.css" /> -->
  <!-- <link rel="stylesheet" href="/css/crowdfunding.css" /> -->