<!-- 404.ejs -->
<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
        <main class="container">
            <h1>404 - الصفحة غير موجودة</h1>
            <p>الصفحة التي تحاول الوصول إليها غير متاحة.</p>
            <p><a class="btn btn--link" href="/">العودة إلى الرئيسية</a></p>
        </main>
        <%- include('includes/footer.ejs') %>