<%- include('../includes/head') %>
    <%- include('../includes/navigation') %>
        <main class="dashboard">
            <h1>لوحة التحكم</h1>
            <p>مرحبًا بك في لوحة التحكم الخاصة بك.</p>
        </main>
        <%- include('../includes/footer') %>